<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule
        conversionWord="maskedMessage"
        converterClass="backend.academy.scrapper.logging.SecretMaskingConverter"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp
                    fieldName="timestamp"
                    pattern="yyyy-MM-dd'T'HH:mm:ss.SSSXXX"
                    timeZone="UTC"/>
                <logLevel fieldName="level"/>
                <threadName fieldName="thread"/>
                <loggerName fieldName="logger"/>
                <pattern>
                    <pattern>{"service":"backend-processor","traceId":"%X{traceId:-}","spanId":"%X{spanId:-}","requestId":"%X{requestId:-}","message":"%maskedMessage"}</pattern>
                </pattern>
                <stackTrace fieldName="stackTrace"/>
            </providers>
        </encoder>
    </appender>

    <logger name="reactor.netty.http.client" level="DEBUG"/>
    <logger name="reactor.netty.http.client.HttpClientConnect" level="TRACE"/>
    <logger name="reactor.netty.transport.TransportConnector" level="DEBUG"/>
    <logger name="reactor.netty.resources.PooledConnectionProvider" level="DEBUG"/>
    <logger name="org.springframework.web.client.RestClient" level="DEBUG"/>
    <logger name="backend.academy.scrapper.service.resilience.ExternalApiResilienceExecutor" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>
</configuration>
